<ion-header>
  <ion-toolbar>
    <ion-title>Start session</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="Login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="4" sizeXl="3" size-xs="12">
          <div text-center>
            <h3>Please login!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Enter your email address" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" minlength="6" placeholder="Enter your password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Enter</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>